b-navbar.py-3(type="light")
  b-navbar-nav
    b-row
      b-col(
        v-for="(link, index) in faqMenu"
        :key="index"
      )
        b-nav-item(:to="`/faq/${link}`") {{ link | capitalize }}
