b-navbar.py-5(type="light")
  b-navbar-nav
    b-row
      b-col(
        v-for="(link, index) in faqMenu"
        :key="index"
      )
        b-nav-item(
          active-class="font-weight-bolder"
          :to="`/faq/${link}`"
        ) {{ link | propercase }}
