section.pb-5
  b-container.text-center
    h2.pb-5.howItWorksHeader How Does It Work?
    .px-5.pb-5.d-none.d-sm-block
      .px-5
        .px-5
          img.img-fluid(src="~assets/raise-capital/line.png")
    b-row
      b-col.pb-3(cols="12" sm="4")
        h4 1. Apply
        p Provide us information about your company along with any documents to convince investors
      b-col.pb-3(cols="12" sm="4")
        h4 2. Due Diligence
        p Customize your company profile and complete any other due diligence needed
      b-col.pb-3(cols="12" sm="4")
        h4 3. Launch
        p Get your company launched. Let us streamline the investment and closing process
