$gold: #c89f5c;
$darker-gold: #84683c;

.bg {
  &__progress {
    background-color: #fafbfc;
  }
}

.text {
  &__gold-dark {
    color: $gold;
  }

  &__progress {
    color: #292929;
  }
}

.btn {
  &__gold {
    border: $gold 1px solid;
    background-color: $gold;

    &:hover,
    &:focus {
      border: $gold 1px solid;
      background-color: transparent;
      color: $gold;
    }
  }
}
