section.bg__progress
  b-container.py-4
    b-row.text-center
      b-col(sm="4")
        h4.text__gold-dark Amount Raised:
        p.text__progress $12,300
      b-col(sm="4")
        h4.text__gold-dark Investors:
        p.text__progress 42
      b-col.pt-2(sm="4")
        b-button.btn__gold(size="lg") Invest $50 Minimum
