section.bg__progress
  b-container
    b-row.text-center
      b-col.py-4(sm="4")
        h4.text__gold-dark Amount Raised:
        span.text__progress $12,300
      b-col.py-4(sm="4")
        h4.text__gold-dark Investors:
        span.text__progress 42
      b-col.py-4(sm="4")
        b-button.mt-2.btn__gold(size="lg") Invest $50 Minimum
