section
  b-container.py-5
    h2.pb-5.text-center Frequently Asked Questions
    details(v-for="(item, index) in items" :key="index" open)
      summary.pb-3
        strong {{ item.question }}
      p {{ item.answer }}
    h5.pt-5 Still have questions?
      |
      |
      nuxt-link.faqLink(to="/faq")
        strong Check out the rest of our FAQs.
