.img--bg {
  background-image: url('../../../assets/bg/hero.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));

  .text-container {
    display: table-cell;
    height: 80vh;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 991px) {
  .img-bg {
    margin: 15px;
    height: 50vh;
    background-position: right bottom;
    margin-bottom: 0px;
    -webkit-box-reflect: transparent;
    .hero {
      height: 50vh;
      .title {
        width: 100%;
      }
    }
  }
}
