section
  b-container
    .img--bg
      b-row
        b-col
          .text-container
            h1.title Invest in vetted startups near you
            h6.subtitle Invest as little as $50 in local startups and earn a return if the startup succeeds.
        b-col.d-none.d-sm-block
