$gold: #c89f5c;
$link-color: #292929;

.sidebar {
  line-height: 1.5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 60px 20px;
  .list--clear-format {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .list--sidebar-link {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 2.3em;
    color: $link-color;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .gold-link {
    color: $gold;
  }
}
