header
  b-navbar(toggleable="md" type="light" variant="transparent")
    b-container.py-3
      b-navbar-brand(href="/")
        img.d-inline-block.align-top(:src="require(`@/assets/logo/logo.png`)" width="200")
      b-navbar-toggle(target="collapse")
      b-collapse#collapse(is-nav)
        b-navbar-nav
          b-nav-item(to="/c") Browse
          b-nav-item(to="/raise-capital") Raise Capital
          b-nav-item(to="/faq") FAQ
          div(v-if="signedIn")
            b-nav-item.d-block.d-md-none(to="/u") Dashboard
            b-nav-item.d-block.d-md-none(@click="logout") Logout
          div(v-else)
            //- TODO: add back in once Store Action is made.
            //- b-nav-item.d-block.d-md-none(to="/auth/login") Login
            b-nav-item.d-block.d-md-none(@click="login") Login
            b-nav-item.d-block.d-md-none(to="/auth/register") Sign Up
      b-navbar-nav.ml-auto.d-none.d-md-flex(v-if="signedIn")
        b-nav-item-dropdown(right no-caret)
          template(slot="button-content")
            b-img(
              thumbnail
              src="https://avatars0.githubusercontent.com/u/4671881?s=460&v=4"
              rounded="circle"
              width="45"
              height="45"
            )
          b-nav-item.pl-4(to="/u") Dashboard
          b-nav-item.pl-4(@click="logout") Logout
      b-navbar-nav.ml-auto.d-none.d-md-flex(v-else)
        //- TODO: add back in once Store Action is made.
        //- b-nav-item(to="/auth/login") Login
        b-nav-item(@click="login") Login
        b-nav-item(to="/auth/register") Sign Up
