section
  b-container
    b-row.container.py-5
      b-col.py-5(md="6" sm="12")
        h2 Startups need capital.
        h2 We've made it easy.
        p Fact: Women &amp; minorities make up less than 2% of venture-backed capital. Crowdfunding is here to change that.
        nuxt-link(to="/auth")
          main-button(txt="Start your raise")
      b-col(md="6" sm="8")
        img.img__bg(src="~assets/bg/rc.png")
