b-jumbotron(
  fluid
  bg-variant="dark"
  text-variant="white"
)
  template(slot="header") Esgro, Inc.
  template(slot="lead")
    p Regulation CF Offering
      br
      | Raising: $10K | $2.0M Valuation
      br
      | Minimum investment: $100
  p Share with your friends!
  a.px-3
    facebook-icon(size="1.5x")
  a.px-3
    linkedin-icon(size="1.5x")
  a.px-3
    twitter-icon(size="1.5x")
