section.pb-5
  b-container
    b-row
      b-col.pt-5(md="7")
        b-embed(
          type="iframe"
          src="https://vimeo.com/268656394"
          aspect="16by9"
          allowfullscreen
        )
      b-col.pt-5(md="5")
        h1 Esoteric Brewing Company, LLC.
        h4 A better way to do business
        p.pt-5 Offering Type: Regulation CF
          br
          | Raising: $10K | $2.0M Valuation
          br
          | Minimum investment: $20.00
        p Share this offering with your friends!
        p
          a.pr-3
            brand-icon.fa-2x(i="facebook-square")
          a.px-3
            brand-icon.fa-2x(i="linkedin")
          a.pl-3
            brand-icon.fa-2x(i="twitter-square")
