section.pb-5
  b-container
    b-row.py-3
      b-col
        h1 Esgro, Inc.
        h4 A better way to do business
      b-col
        p Video half
    b-row
      b-col
        p Share with your friends!
        p
          a.px-3
            //- facebook-icon(size="1.5x")
          a.px-3
            //- linkedin-icon(size="1.5x")
          a.px-3
            //- twitter-icon(size="1.5x")
      b-col
        p Offering Type: Regulation CF
          br
          | Raising: $10K | $2.0M Valuation
          br
          | Minimum investment: $100

//- b-jumbotron(
//-   fluid
//-   bg-variant="dark"
//-   text-variant="white"
//- )
//-   template(slot="header") Esgro, Inc.
//-   template(slot="lead")
//-     p Regulation CF Offering
//-       br
//-       | Raising: $10K | $2.0M Valuation
//-       br
//-       | Minimum investment: $100
//-   p Share with your friends!
//-   a.px-3
//-     facebook-icon(size="1.5x")
//-   a.px-3
//-     linkedin-icon(size="1.5x")
//-   a.px-3
//-     twitter-icon(size="1.5x")


