section.container
  div
    logo
    h1.title Wunderfund 2.0
    h2.subtitle The next iteration of Wunderfund
    .links
      a.button--green(
        href="https://nuxtjs.org/"
        target="_blank"
      ) Documentation
      a.button--grey(
        href="https://github.com/nuxt/nuxt.js"
        target="_blank"
      ) Github
