section.container
  div
    logo
    h1.title Wunderfund 2.0
    h2.subtitle The next iteration of Wunderfund
    .links
      a(
        v-for="(link, index) in links"
        :key="index"
        :class="link.linkClass"
        :href="link.url"
        target="_blank"
      ) {{ link.title }}
