section.py-5.cta__section
  b-container
    b-row.pb-3
      b-col
        h6.text-center Be the first to hear about investment opportunities
    b-row
      b-col.d-none.d-md-block
      b-col
        transition(name="fade" mode="out-in")
          b-form(v-if="show")
            b-input-group
              b-form-input(
                v-model="email"
                type="email"
                required
                placeholder="Your email address"
              )
              b-input-group-append
                b-button.color__gold(size="sm" @click="subscribeUser") Sign Up
          div(v-else)
            p You have subscribed to our newsletter. Thanks!
      b-col.d-none.d-md-block
