b-card.mb-3(no-body)
  b-card-body.px-0
    b-container
      b-row.form-inline
        b-col
          h1.mb-0 My Profile
        b-col(cols="3").text-right
          b-button(variant="outline-success" v-b-toggle.profile)
            span.when-opened Collapse
            span.when-closed Expand
    b-collapse#profile.pt-4
      section-spend-limit(:spend-pool="spendPool" :spend-max="spendMax")
      section-profile-form
      section-accreditation(:is-accredited="isAccredited")
      section-password-reset
