div
  h1.text-center.mb-5 Investor Agreement

  h4 PROVISIONS GOVERNING THE USE OF THE WUNDERFUND SITE BY INVESTORS AND INVESTMENTS IN OFFERINGS

  p Wunderfund.co operates this website, Wunderfund.co (the "Site"), which facilitates securities offerings (the "Offerings") by early stage, start-up companies ("Startups"). The Offerings are made pursuant to Regulation Crowdfunding of the Securities Act of 1933 ("Regulation Crowdfunding Offerings"), which are facilitated either through the portion of the Site operated by Wunderfund.co ("Wunderfund Portal"), or by a third party funding portal (each, a "Third Party Funding Portal").

  p Your ability to participate in a particular Offering may depend on your income or net worth and/or your recent participation in certain other Offerings, as described further below. By using this Site, you are agreeing to the terms and conditions of this Wunderfund Investor Agreement, which includes, by reference, the Wunderfund Terms of Use (the "Terms of Use") and the other agreements listed in Section 1 below (collectively, this "Agreement"), and you are agreeing to the following terms, among others, with respect to your use of the Site as a registered member of the Site (a "Member").

  h3.text-center.py-4 Terms of this Agreement

  h4 Table of Contents

  ol
    li
      b-link(href="#general-docs") General Documents Incorporated by Reference into this Agreement
    li
      b-link(href="#site-agreements") Agreements with respect to the Site and all Offerings
    li
      b-link(href="#reg-c-agreements") Agreements with respect to Regulation Crowdfunding Offerings

  ol
    li#general-docs
      h5.text-center.py-4 GENERAL DOCUMENTS INCORPORATED BY REFERENCE INTO THIS AGREEMENT

      p This Agreement between you and Wunderfund.co sets forth the terms and conditions for your access to the Site and your use of the information, features, products, services and tools on the Site (the "Services"). For ease of reference, when Wunderfund.co and its affiliates are referred to together in this Agreement, they are referred to as "Wunderfund," "we," or "us".

      p This Agreement incorporates by reference the Terms of Use. You represent that you have read the Terms of Use and agree that the Terms of Use govern your use of the Site and the Services. Capitalized terms used in this Agreement that are not otherwise defined herein have the meaning given to them in the Terms of Use.

      p This Agreement should be read carefully before using any Services or continuing to access the Site. By using the Site in any manner, including but not limited to visiting or browsing the Site, you agree and consent to, and you agree to be bound by, the Terms of Use, this Agreement, the Privacy Policy, and all other operating agreements, rules, policies and procedures that may be published by Wunderfund from time to time on the Site, each of which is incorporated by reference and each of which may be updated by Wunderfund from time to time without notice to you.

      p Your use of the Site is governed by the version of this Agreement in effect on the date of use. We may modify these terms and conditions at any time and without prior notice, and you agree to be bound by this Agreement as so modified. It is your responsibility to visit the link accessible on the Site home page periodically to review the most current terms and conditions of this Agreement for changes. You acknowledge that by accessing the Site after we have made changes to this Agreement, you are agreeing to the terms and conditions of this Agreement as modified.

      p The terms and provisions of the following agreements and other documents are incorporated into this Agreement by reference:

      ul
        li The Site's Terms of Use;
        li The information on the Site about the particular Startup (such information, the "Startup Information");
        li The Wunderfund Disclosure Statement, which sets forth general information about venture investments made through the Site;
        li The Indication of Interest and Subscription Agreement (together, the "Subscription Agreement") or Investment Contract, as applicable, submitted by you with respect to a particular Offering (if applicable);
        li The terms of each Offering (the "Offering Terms") in which you invest, as provided to you and set forth in the applicable documents;
        li For a Regulation Crowdfunding Offering, this will include: (i) the Startup's Form C; and (ii) the Startup's Wunderfund Portal profile; and
        li Any other information provided to you with respect to an Offering via the Site.

      p You should carefully read each of the above documents before subscribing to an Offering. You alone are responsible for ensuring that you are aware of all of the terms of this Agreement and your rights and responsibilities under it. You may have additional agreements with Wunderfund, and you are responsible for understanding the content of those agreements.

    li#site-agreements
      h5.text-center.py-4 AGREEMENTS WITH RESPECT TO THE SITE AND ALL OFFERINGS

      p 2.1 GENERAL ACKNOWLEDGMENTS

      p You understand and acknowledge that Wunderfund.co is not responsible for any content on the Site provided by any third parties, including Startups, and any service providers or other third parties, or any content provided to you in connection with your use of the Site even if that information is distributed to you on behalf of a third party by Wunderfund, and is not liable for any type of loss or damage associated with your use of the Site.

      p You acknowledge that nothing on the Site constitutes a recommendation to buy securities or any other type of investment advice to you by Wunderfund, and any investment risk is solely your own. You are not a client of Wunderfund, the Wunderfund Portal or any of their affiliates.

      p You acknowledge that Wunderfund and the Wunderfund Portal do not independently verify information regarding Startups (although Wunderfund Portal does conduct some diligence on information provided by Startups as required by Regulation Crowdfunding) or endorse any Startup for direct or indirect investment, and that information on the Site has been prepared without reference to any particular Member's investment requirements or financial situation. You agree to abide by this and other agreements between you and Wunderfund and service providers that govern or relate to your use of the Site or the services available on the Site.

      p You understand that the Site offers different types of Offerings for investment, each of which operate under different regulatory regimes and requirements, and that each type of Offering may have its own unique risks and levels of regulatory involvement.

      p You acknowledge that you have been provided access to additional sources of information regarding your investment in the Startup, including the information that is incorporated into this Agreement by reference, such as the Startup Information, the Subscription Agreement, the Offering Terms, and the Disclosure Statement.

      p 2.2 RISKS GENERALLY ASSOCIATED WITH ALL OFFERINGS

      p You should consult your own legal, tax and financial advisers regarding the suitability, desirability and appropriateness of purchasing interests through an Offering. You should also carefully consider the following risks prior to investing through an Offering:

      p 2.2.1 Significant Risk of Loss; Not a Complete Investment Program

      p An investment in a Startup involves significant risks, only some of which are described in this Agreement, and is suitable only for investors who have limited need for liquidity in their investment, who can afford the potential loss of their investment and who otherwise meet the conditions for eligibility set forth in this Agreement. A direct or indirect investment in a Startup is not intended as a complete or diversified investment program and should represent only a small portion of a potential investor's investment portfolio.

      p 2.2.2 Startups Are Early Stage Venture Companies with High Risk of Failure

      p Startups are early stage venture companies. Venture investments involve a high degree of risk and many or most venture company investments lose money and fail at a particularly high rate. You may ultimately receive cash, securities, or a combination of cash and securities (and in some cases nothing at all). If you receive securities, the securities may not be publicly traded, and may not have any significant value.

      p 2.2.3 Lack of Operational Record

      p Each Startup will have limited or no operational record.

      p 2.2.4 Limitation on Liability; Indemnification

      p This Agreement, including the Terms of Use and the Subscription Agreement, limit the liability of Wunderfund, and provide for indemnification in certain circumstances.

      p 2.3. PRIVACY

      p Wunderfund maintains a #[nuxt-link(to="/legal/privacy-policy") Privacy Policy], which is available on the Site and incorporated into this Agreement.

      p 2.4. USE OF NAME

      p You consent to the disclosure by Wunderfund of your name (or, if you are acting on behalf of a company or entity, the name of such entity) on the Site. Without limiting such consent, or any other lawful use of your name by Wunderfund, you specifically consent to disclosure by Wunderfund to potential investors in a Fundraising that you have submitted a Subscription Agreement with respect to that Fundraising, and to disclosure by Wunderfund to any Startup or Member, or combination of Startups or Members, that you have invested in one or more Startups through the Site, and the number of such investments. You may withdraw this consent at any time by contacting Wunderfund.

      p 2.5. ELECTRONIC COMMUNICATIONS

      p Wunderfund requires that you consent to delivery of all communications via electronic communications. Please see the Electronic Consent that is available on the Site and incorporated into this Agreement.

    li#reg-c-agreements
      h5.text-center.py-4 AGREEMENTS WITH RESPECT TO REGULATION CROWDFUNDING OFFERINGS

      p 3.1. GENERAL ACKNOWLEDGMENTS

      p You understand and acknowledge that, while Wunderfund Portal will verify such information to the extent such verification is required under applicable law, it may rely on the truthfulness of your representations regarding your income, net worth, and/or your prior participation in Regulation Crowdfunding Offerings in the prior 12 months when determining whether to permit you to participate in a particular Regulation Crowdfunding Offering.

      p You acknowledge that you are limited in the amount you may invest in offerings under Regulation Crowdfunding over any 12 month period and that, even though Wunderfund Portal will ask you about these investment amounts and store data regarding such amounts on the Site, you alone are responsible for complying with all investment limitations applicable to all such Offerings, both through the Site and not through the Site;

      p You understand that any investment you make in a Regulation Crowdfunding Offering on the Site will be in a security of the particular Startup ("Startup Securities"), and that neither Wunderfund Portal nor any of its affiliates will be involved in the setting of the Offering Terms or the management of the Startup; and

      p You represent that you have or you will review the educational materials provided to you on the Wunderfund Portal portion of the Site prior to making each investment in a Regulation Crowdfunding Offering.

      p 3.2. INVESTOR REPRESENTATIONS

      p You represent and warrant to Wunderfund Portal (or any Third Party Funding Portal as applicable) that the answers you provided to the questions in the investor certification (the "Investor Certification") page are correct and complete and may be relied upon by Wunderfund Portal or any Third Party Funding Portal (as applicable) in determining whether you are eligible to invest in Offerings that are listed on the Site. You represent that you are using the Site with the intent to make any potential investments for yourself or your institution, and not with the view to sell or otherwise distribute your investment in a Startup. You agree that if any event occurs or circumstance arises that materially adversely affects your annual income or net worth, or causes any other statement made in your Investor Certification to become untrue or misleading in any material respect (including with respect to other investments made by you under Regulation Crowdfunding in the prior 12 months), then prior to investing in Startups through the Site you will complete a new Investor Certification to determine if you are still eligible to invest in Startups listed on the Site. You acknowledge that Startups in which you invest may rely, and that Wunderfund Portal, any Third Party Funding Portal (if applicable), Startups, and their principals, affiliates, and other parties may rely, on the information you have provided to Wunderfund Portal or any Third Party Funding Portal in your Investor Certification to determine if you are eligible to invest in Startups. You represent that you have read and understand the risks contained in the Startup Information.

      p 3.3. CHOOSING AND MAKING INVESTMENTS

      p 3.3.1. Services of Wunderfund Portal with Respect to Regulation Crowdfunding Offerings

      p Wunderfund Portal operates the portions of the Site that facilitate Regulation Crowdfunding Offerings by Startups. Members are not clients of Wunderfund Portal or any Third Party Funding Portal. Although Wunderfund Portal evaluates potential Startups and determines which Startups will be able to engage in Regulation Crowdfunding Offerings on the Site, you acknowledge and agree that this evaluation is limited to certain predetermined, objective criteria and does not constitute an endorsement of any particular Startup or a recommendation that Members invest in any particular Startup, and does not establish an advisory relationship between you and Wunderfund.

      p For all Startups listed on the Wunderfund Portal Site, Wunderfund Portal performs a limited review of the information provided by each Startup to determine whether it is appropriate for inclusion on the Site (including, among other things, to determine whether Wunderfund Portal has a reasonable basis for believing that the Startup complies with Regulation Crowdfunding). The information reviewed includes all information in the Startup's profile and in its Form C. This review is not intended to verify any information provided by the Startups regarding their operations, assess the likelihood that a Startup will succeed or generate investment returns, or otherwise inform or influence any investment decisions by investors. Neither Wunderfund Portal nor its affiliates performs any separate due diligence on the Startups. Some of the Startups listed on the Wunderfund Portal Site may have been considered for, but not listed by a Third Party Funding Portal.

      p You acknowledge that as a Member of the Site, you are not in an investment advisory relationship with Wunderfund.

      p You also acknowledge that neither Wunderfund nor any Third Party Funding Portal, or any of their affiliates advises Members on the merits of a particular investment or transaction or provide legal or transactional advisory services to Members. The information, materials and services made available on the Site do not constitute a recommendation, endorsement, or any other form of investment advice to Members by Wunderfund nor any Third Party Funding Portal or their affiliates to buy or sell any securities or other financial instruments. Neither Wunderfund Portal nor any Third Party Funding Portal provides any legal, tax, investment, financial or other advice to Members. The content of the Site has been prepared without reference to any particular Member's investment requirements or financial situation. You expressly agree that the information, materials and services made available on the Site are not a substitute for the exercise of independent judgment and expertise. You should always seek the assistance of a professional for advice on investments, tax, the law, or other similar matters.

      p 3.3.2. Investments in Regulation Crowdfunding Offerings through Startup Securities

      p In Regulation Crowdfunding Offerings, Wunderfund Portal provides Startups an opportunity to raise funds by allowing Members to invest directly in Startups seeking capital from both accredited and non-accredited investors. Startups seeking to raise money through Regulation Crowdfunding are limited to raising a maximum of $1,070,00 through Regulation Crowdfunding Offerings in a single 12 month period, and are subject to certain investment limitations for all investors, as described below in Section 3.3.8 — "Investor Eligibility Requirements".

      p Members participating in Regulation Crowdfunding Offerings will invest in Startup Securities, which will be debt or equity securities issued by the Startup. The terms of the Startup Securities purchased in Regulation Crowdfunding Offerings will vary depending on the type of security offered by a Startup. Investors should carefully consider the terms of the Startup Securities in which they invest and read the educational materials available on the Site about each type of security.

      p The terms of your investment in the Startup will be set forth in the Startup Information and will be governed by the investment contract between you and the Startup. The Startup may reject your investment for any reason or for no reason in its discretion.

      p Once you complete and submit an investment contract, you will be asked to transfer funds from your bank or other type of account into a bank account maintained by a bank for the benefit of the Startup and other Startups raising funds through Wunderfund Portal. You agree to provide all funds required to complete the transaction promptly. If you do not submit funds at the time that you submit your investment contract, your investment in the Startup may not be processed. To the extent the number of investors in a Startup is capped by the Startup, Investors who have submitted investment contracts and transferred the required funds will be given preference over those who have only submitted an investment contract. If your investment is rejected, your funds will be returned to you without interest.

      p Your investment in Startup Securities may only be processed if a predetermined minimum amount of funds are raised for a Startup during the fundraising (the "Funding Target") for a particular Regulation Crowdfunding Offering by the deadline set forth in the Startup Information ("Target Deadline") provided on the Site. Funds designated for investment in a Startup will not be invested in the Startup until and unless the Funding Target is reached by the Target Deadline. If the Funding Target is not reached by the Target Deadline, your funds will be returned to you without interest within seven days of the termination of the Fundraising. If the Funding Target is reached prior to the Target Deadline and the Startup desires to move the Target Deadline up, Wunderfund Portal or a Third Party Funding Portal (if applicable) will provide you with at least five business days' notice of such change. Otherwise, Wunderfund Portal or a Third Party Funding Portal (if applicable) will close the Fundraising at the time of the Target Deadline if the Funding Target has been reached. A Startup may also decide to accept investments that exceed the Funding Target. In this case, the Startup will provide investors with information regarding the amount of funds raised by the Startup during fundraising when the Startup will close the fundraising (the "Maximum Amount") and the manner of allocating subscriptions for amounts in excess of the Maximum Amount. You will receive notice from Wunderfund Portal or a Third Party Funding Portal (if applicable) when a Startup for which you have submitted an investment contract has closed, and whether your investment in the Startup will be processed.

      p You may revoke your investment in a Startup during the Fundraising by providing notice to Wunderfund Portal or a Third Party Funding Portal (if applicable) as provided on the Site. You may also revoke your investment at any time up until 48 hours before the Target Deadline. After that, your investment in the Startup can be processed. None of Wunderfund Portal nor any Third Party Funding Portal nor any of their affiliates will take physical custody of your funds.

      p You acknowledge that neither Wunderfund nor any third party has represented to you that securities of any Startup are being sold on an "all or none" basis. You acknowledge that, if the Funding Target is not reached, your funds will be returned to you without interest, within seven days of the termination of the Fundraising.

      p 3.3.3. Limitation on Subscriptions

      p You acknowledge that no Startup for which you submit an investment contract has any obligation to accept your investment, and that any fraction of the investment amount stated on the investment page of the Site and/or in the investment contract may be accepted, or your investment may be rejected entirely, for any reason. If you submitted funds in excess of the investment amount accepted, the excess funds will be returned to you without interest in a manner determined in the sole discretion of the Startup.

      p 3.3.4. Aggregate Subscriptions

      p With respect to any Regulation Crowdfunding Offerings in which you invest, you agree that you will not use the Site to invest more than you are permitted to invest in any 12 month period under Regulation Crowdfunding, as discussed further below in Section 3.3.8.

      p 3.3.5. Limitation of Liability and Indemnification

      p The Terms of Use, this Agreement, and the Subscription Agreement limit the liability of Wunderfund Portal, any Third Party Funding Portal and/or their affiliates, and provide for indemnification in certain circumstances. You acknowledge that Wunderfund Portal, any Third Party Funding Portal, and any of their affiliates, or any member, manager or employee thereof, shall not be liable in connection with any information or omission of information contained in materials prepared or supplied by a Startup or other third party or developed in reliance on information provided by a Startup. You acknowledge that such materials may include, but are not limited to, information available through the Site, and materials distributed to investors by Wunderfund Portal, a Third Party Funding Portal or any of their affiliates (or members, managers, or employees). You acknowledge that the information regarding Startups presented on the Site is provided by the Startups and not by Wunderfund Portal, any Third Party Funding Portal or any of their affiliates. You acknowledge that none of Wunderfund Portal, any Third Party Funding Portal, their affiliates, or their members, managers, or employees approves or reviews information prepared or supplied by a Startup and shall not be liable with respect to the past, present, or future performance or non-performance by a Startup of the activities described in such information. You acknowledge that you understand that the information provided by Startups on the Site may not be sufficient or suitable to support an informed investment decision.

      p 3.3.6. Fees Charged in Respect of Regulation Crowdfunding Offerings

      p Wunderfund Portal will charge a fee to each Member who invests in a Regulation Crowdfunding Offerings, which will be a percentage of the amount the Member invested at the time each Regulation Crowdfunding Offering closes.

      p 3.3.7. Subscribing for Startup Securities

      p The Startup Securities offered to Members in Regulation Crowdfunding Offerings will not be registered under the 1933 Act or the securities laws of any state or any other jurisdiction. Startups will generally set a minimum subscription amount for investment for each Fundraising, which will generally be $100 at a minimum.

      p 3.3.8. Investor Eligibility Requirements

      p In accordance with Regulation Crowdfunding's requirements, you are not permitted to invest more than a certain amount in offerings made under Regulation Crowdfunding (including those not made through the Site) during any single 12 month period, which amount is determined based on your own financial circumstances. In particular, if your annual income or net worth is less than $107,000, you may only invest a maximum amount equal to the greater of $2,200 or 5 percent of the lesser of your annual income or your net worth. If both your annual income and net worth are equal to more than $107,000, you may only invest a maximum amount equal to 10 percent of the lesser of your annual income or net worth, but you may not invest more than $107,000 through all Regulation Crowdfunding Offerings.

      p Further, you understand and agree that Wunderfund Portal is permitted under Regulation Crowdfunding to rely on your representations regarding your compliance with these investment limits when determining whether to permit you to participate in a Regulation Crowdfunding Offering. You agree that you would not be disqualified from engaging in any conduct under Regulation Crowdfunding because of a "disqualification event" as described in Regulation Crowdfunding.

      p 3.4 RISKS ASSOCIATED WITH REGULATION CROWDFUNDING OFFERINGS

      p You should consult your own legal, tax and financial advisers regarding the suitability, desirability and appropriateness of purchasing interests in a Startup. You should also carefully consider the following risks prior to investing in a Startup:

      p 3.4.1. General

      p An investment in a Startup involves significant risks, only some of which are described in this Agreement, and is suitable only for sophisticated investors who have limited need for liquidity in their investment, who can afford the potential loss of their investment and who meet the conditions for eligibility set forth in this Agreement. An investment in a Startup is not intended as a complete investment program. Startups are early stage venture companies. Venture investments involve a high degree of risk and many or most venture investments lose money. You may ultimately receive cash, securities, or a combination of cash and securities (and in some cases nothing at all). If you receive securities, the securities may not be publicly traded, and may not have any significant value.

      p 3.4.2. No Guarantee of Investment Returns

      p None of Wunderfund Portal, any Third Party Funding Portal, or any of their affiliates guarantees the future performance or financial results of any Startup, and an investment in a Startup may result in a gain or loss upon termination or liquidation of your investment.

      p 3.4.3. Restrictions on Resale or Transfer

      p The Startup Securities are issued in a transaction exempt from registration under the 1933 Act and are not registered thereunder or any other law of the United States, or under the securities laws of any state or other jurisdiction. Startup Securities purchased through the Site in Regulation Crowdfunding Offerings cannot be resold, pledged, assigned or otherwise disposed of during the one-year period starting with the date of purchase, unless they are transferred: (1) to the Startup itself; (2) to an "accredited investor" (as defined in as defined in Regulation D under the 1933 Act); (3) in connection with a registered offering of the Startup Securities with the SEC; (4) to a family member of the Member, or to a trust of the Member or one of its family members; or (5) in connection with the Member's death or divorce.

      p However, even if you are able to sell or transfer your Startup Securities, there is a limited market for the sale of a Startup Securities, and there is no guarantee that a market will develop in the future for the Startup Securities you purchase. Therefore, if you require liquidity in your investment, you should not invest in a Startup.

      p 3.4.4. No Control Over Management of the Startups

      p You will not have any right to manage, influence or control the management or operations of Startups. In particular, you will not have, or will have only limited, voting rights associated with your Startup Securities, but in any event will not have voting powers to direct the management decisions of the Startup. You must refer to the voting provisions in the relevant investment contract that controls your investment. The success of any Startup investment depends on the ability and success of the management of the Startup, in addition to economic and market factors.

      p 3.4.5. No Control Over Startup Future Valuation

      p Valuations may fluctuate considerably and the price paid for Startup Securities by you may bear limited or no relationship to future valuations of the Startup's securities in any market that may develop for such securities, whether private or public.

      p 3.4.6. Limited Information About Startups

      p Due to the nature of private companies, there may be limited information—financial, operating or otherwise—regarding each Startup. You should read and understand the risk factors contained in the Startup Information, including the Form C, before investing in Startup Securities. Each Startup is solely responsible for providing risk factors, conflicts of interest, and other disclosures that you should consider when investing in Startup Securities.

      p 3.4.7. No Assurance of Profit

      p An investment in Startup Securities may not generate profits for you. A return on investment will depend upon successful liquidity of a Startup's securities and thus, the ultimate value of any investment depends upon factors beyond your or Wunderfund Portal's control. You will typically not receive returns, if any, until an offer or sale of securities of the Startup to the public or to other affiliated or third-party investors, which may not occur for many years. You must therefore bear the economic risk of an investment for an indefinite period of time.

      p 3.4.8. Direct Investment in Startups in Regulation Crowdfunding Offerings

      p In Regulation Crowdfunding Offerings, Members will invest directly in the securities of Startups. The Startup will not be managed by Wunderfund Portal or any of its affiliates in any respect. The terms of any investment in a Startup effected through a Regulation Crowdfunding Offering will be set by the Startup, and to the extent any negotiation occurs, it will be solely between a Member and the Startup.

      p 3.4.9. Lack of Regulatory Oversight of Regulation Crowdfunding Offerings and Offering Materials

      p Wunderfund Portal and the Third Party Funding Portals are registered as funding portals with the SEC and are members of FINRA. As such, Wunderfund Portal and Third Party Funding Portals must submit certain information and materials to FINRA and the SEC and are subject to examination by FINRA and the SEC. In addition, Startups must file with the SEC a disclosure document called a Form C and updates and amendments to the Form C. However, the funding portal regulatory regime and the Form C are not as comprehensive as the regulatory regime and disclosure documents that apply to offerings registered under the Securities Act of 1933, and, as a result, you may not receive the same level of disclosure and oversight that is available in registered offerings. Wunderfund is maintaining compliance by persisting electronic access to the FINRA Manual publicly, which can be found here.

      p 3.4.10. Review of Regulation Crowdfunding Offering Documents by SEC and Wunderfund Portal and/or a Third Party Funding Portal No Indicator of Likely Success of Startup or Guarantee of Investment Returns
      p Under Regulation Crowdfunding, a Startup must file a Form C disclosure document with the SEC and provide the disclosure to prospective investors. As noted above, Wunderfund Portal will perform a limited review of Startups, including the information proposed to be provided to the SEC and potential investors, to determine whether to permit a Startup to engage in Regulation Crowdfunding Offerings on the Site. However, none of the SEC, Wunderfund Portal or any Third Party Funding Portal (if applicable) will be reviewing any Startup's Form C or other offering materials with the view to determine the likelihood of success of the Startup's business strategy or the likelihood that it will generate investment returns. Further, the review of a Startup's Form C by the SEC under Regulation Crowdfunding does not indicate the SEC's endorsement of such Startup or its view with regard to the likely financial performance of the Startup or the advisability of investing in such Startup, and is not a guarantee of investment returns.

      p 3.4.11. An Investment in a Startup Does Not Offer a Complete Investment Program

      p An investment in a Startup is not a complete or diversified investment program and should represent only a small portion of a potential investor's investment portfolio.

      p 3.4.12. Possibility of Phantom Income

      p It is possible that your investment will result in "phantom income", which could require you to pay taxes on your investment even though the Startup does not distribute any income (or does not distribute sufficient income to pay the taxes).

      p 3.4.13. Other Specific Risks Associated with Investing in a Particular Startup May Not Be Disclosed by the Startup.

      p Each Startup will disclose in the Startup Information the particular risks associated with an investment in the Startup. YOU SHOULD CONSULT YOUR OWN LEGAL AND TAX ADVISERS REGARDING THE POSSIBLE TAX AND OTHER CONSEQUENCES OF BUYING, HOLDING, TRANSFERRING AND REDEEMING STARTUP SECURITIES.
